@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/************************************/

body{
  background-image: url(../img/Screenshot_1.png);
}
.header{
  position: sticky;
  top: -10px;
  z-index: 5;
  background-color: white;
  margin-bottom: 10px;

}
.wrapper {
    max-width: 1440px;
    margin: auto;
}
.header-row {

    
    font-family: 'M PLUS 1 Code', sans-serif;
    font-size: 30px;
    font-weight: 500;
    padding: 10px 0px 5px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-img {
    img {
    
    max-height: 100px;

}
}
.header-nav {
    
    display: flex;
    li{ 
       
        a{  
          
          padding: 10px 25px;
            color: #369205;
            text-decoration: none;
        }
    }
}
.search-blok{
  display: flex;

}
.search{

  background-color: rgba(128, 128, 128, 0.226);
  width: 300px;
  padding: 20px  20px;
  border: solid 0.1px #8D8D8D;
  height: 30px;
  border-bottom-left-radius : 10px;
  border-top-left-radius : 10px;
}
  .search-batton{
    text-align: center;
    font-size: 25px;
    line-height: 33.5px;
  background-color: #7AB344;
  color: white;
  text-decoration: none;
  padding: 3px 5px ;
  border-bottom-right-radius : 10px;
  border-top-right-radius : 10px;
  }

/************************************/

.advertising {
  margin-bottom: 100px;
}
.conatiner {
  box-shadow: 0px 0px 120px black;
  max-width: 1640px;
  margin: auto;
  overflow: hidden;
}
.advertising-up {
margin-bottom: 10px;

}
.advertising-down{
  
  height: 400px;
  background-image: url(../Ishodnik/sale4.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0 0;
}
.up-row {
  display: flex;  
  
  
}
.up-slider {
 
 
  
  min-width: 0;
  
}
.swiper {
  width: 900px;
  height: 600px;
  
}
.swiper-wrapper {

}
.swiper-slide {
  
}
.swiper-slide1{
  background-image: url(../Ishodnik/bath2.jpg);
  background-size: cover;
  background-repeat: no-repeat;

}
.swiper-slide2{
 background-image: url(../Ishodnik/kitchen-3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.swiper-slide3{
  background-image: url(../Ishodnik/dishes3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.swiper-button-next:after, .swiper-button-prev:after {display: none;
}
.swiper-button-next{
background-image: url(../Ishodnik/Rightarrow.svg);
background-repeat: no-repeat;
} 

.swiper-button-prev{
background-image: url(../Ishodnik/Leftarrow.svg);
background-repeat: no-repeat;
}
.up-column {
margin-left: 10px;
  display: flex;
 flex-direction: column;}
.first-part {
  margin-left: 10px;
  margin-bottom: 10px;
  height: 295px;
  width: 730px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url(../Ishodnik/green2.jpg);
  
}
.second-part {
  background-image: url(../Ishodnik/Soap-pad2.jpg);
  margin-left: 10px;
  height: 295px;
  width: 730px;
  background-size: 100%;
  background-repeat: no-repeat;
}



/************************************/

.journal {
}

.journal-title {
  margin-bottom: 45px;
  font-size: 56px;
  color:#369205 ;
  font-weight: 600;
  text-shadow: rgb(203, 233, 120) 0px 0px 10px ;
}
.journal-pad {
  
  display: flex;
}
.journal-column {
  
  display: flex;
  flex-wrap: wrap;


}
.jurnal-card {
  max-width: 350px;
  margin: auto;
  margin: 30px 50px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 0px 10px rgb(202, 247, 202);
  
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.card-label {
  font-size: 30px;
  font-weight: 600;
  color: #000;
  padding: 5px 20px 20px 20px ;

}
.card-img {
  background-image: url(../img/krot.jpg);
  background-size: 100% 100% ;
  background-repeat: no-repeat;
  border-radius: 30px;
  height: 370px;
  margin-bottom: 15px;
}
.card-text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  padding: 0px 20px;
  max-width: 310px;
}
/************************************/

/************************************/

/************************************/
