@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/************************************/
@-webkit-keyframes wow-efect {
  0% {
    opacity: 0.6;
  }
  50% {
    opacity: 1;
  }
}
@keyframes wow-efect {
  0% {
    opacity: 0.6;
  }
  50% {
    opacity: 1;
  }
}
@-webkit-keyframes biger {
  50% {
    padding: 15px 25px;
    font-size: 30px;
  }
  100% {
    padding: 10px 15px;
  }
}
@keyframes biger {
  50% {
    padding: 15px 25px;
    font-size: 30px;
  }
  100% {
    padding: 10px 15px;
  }
}
@-webkit-keyframes first-part-img {
  0% {
    opacity: 0.1;
    left: 500px;
  }
}
@keyframes first-part-img {
  0% {
    opacity: 0.1;
    left: 500px;
  }
}
@-webkit-keyframes second-part-img {
  0% {
    opacity: 0.1;
    left: 500px;
  }
}
@keyframes second-part-img {
  0% {
    opacity: 0.1;
    left: 500px;
  }
}
@-webkit-keyframes advertising-down-img {
  0% {
    opacity: 0.1;
    left: 270px;
  }
  100% {
    opacity: 1;
    left: 58%;
  }
}
@keyframes advertising-down-img {
  0% {
    opacity: 0.1;
    left: 270px;
  }
  100% {
    opacity: 1;
    left: 58%;
  }
}
/************************************/
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  top: -1px;
  z-index: 3;
  padding: 5px;
  background: #63E64C;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.header-row {
  display: flex;
}
.header-row img {
  height: 80px;
  width: 80px;
}

.nav {
  position: relative;
  margin: 0px 50px;
  align-self: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #1C1C1C;
}

.header-nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
}
.nav-list li {
  position: relative;
  margin: 0px 14.5px;
  position: relative;
}
.nav-list li a {
  text-decoration: none;
  color: black;
}
.nav-list li:last-child {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.nav-list li:first-child::before {
  content: "";
  position: absolute;
  height: 5px;
  width: 100px;
  background-color: #4C91E0;
  left: -6px;
  top: 55px;
  transition-duration: 0.5s;
}
.nav-list li:first-child._active::before {
  content: "";
  left: 106px;
}

.start-btn-ru {
  width: 85px;
}

.start-btn-ru._active::before {
  content: "";
  left: 113px;
}

.nav-ru {
  margin: 0px 50px;
}

#product-btn {
  margin-left: -5px;
}

.mobile-category {
  display: none;
}

.fav-button {
  position: relative;
}

.fav-button::before, .fav-button::after {
  content: "";
  height: 1px;
  width: 10px;
  background-color: black;
  position: absolute;
  top: 15px;
  transition-duration: 0.4s;
}

.fav-button::before {
  transform: rotate(40deg);
  left: 100px;
}

.fav-button::after {
  left: 93px;
  transform: rotate(-40deg);
}

.fav-button._active::before {
  transform: rotate(-40deg);
}

.fav-button._active::after {
  transform: rotate(40deg);
}

.fav-button-ru::before {
  left: 130px;
}

.fav-button-ru::after {
  left: 122px;
}

.fav-block {
  z-index: 2;
  top: 70px;
  left: 100px;
  display: none;
  opacity: 0;
  position: absolute;
  height: 260px;
  width: 425px;
  background-color: #ECFCE9;
  border: 0.5px solid black;
  transition-duration: 0.6s;
}

.fav-block._active {
  display: block;
  opacity: 1;
}

.fav-text {
  position: absolute;
  margin: 100px 50px;
  color: #767E75;
  font-family: "Montserrat";
  font-size: 24px;
  line-height: 29px;
  text-align: center;
}

.fav-list {
  background-color: white;
  position: absolute;
  width: 398px;
  max-height: 456px;
  overflow: auto;
  transition-duration: 0.7s;
}
.fav-list li a {
  color: black;
  text-decoration: none;
}

.fav-list._display {
  display: block;
}

.fav-text._hide {
  display: none;
}

.fav-card {
  transition-duration: 0.1s;
  background-color: honeydew;
  border: solid 0.5px green;
  display: none;
  align-items: center;
}
.fav-card img {
  height: 150px;
}

.fav-card._display {
  display: flex;
}

.fav-label {
  font-size: 22px;
  margin-right: 20px;
}

.header-contact {
  margin-right: 60px;
  margin-left: 5px;
  position: relative;
  display: flex;
  align-items: center;
}
.header-contact a {
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #9C7438;
}
.header-contact a:hover {
  text-decoration: underline;
}

.header-contact-ru {
  margin-right: 10px;
}

.mobile-header-active {
  display: none;
}

.mobile-header {
  display: flex;
  justify-content: space-evenly;
}

.tel {
  margin-right: 25px;
}
.tel img {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

.tel::before {
  content: "";
  background-color: black;
  height: 30px;
  width: 1px;
  position: absolute;
  left: -20px;
}

.location {
  display: flex;
  align-items: center;
}
.location img {
  height: 30px;
  width: 30px;
}

.street {
  max-width: 170px;
  margin-left: 10px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #1C1C1C;
}

.languages {
  align-self: center;
  position: relative;
  font-family: "Roboto";
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}
.languages span:first-child {
  margin-right: 20px;
}
.languages span:first-child::after {
  content: "";
  height: 30px;
  width: 1px;
  background-color: #000000;
  position: absolute;
  left: 55px;
}

.languages-ua {
  cursor: pointer;
}
.languages-ua a {
  color: black;
}

.languages-ru {
  cursor: pointer;
}
.languages-ru a {
  text-decoration: none;
  color: #000;
}

.active-page {
  font-weight: bold;
}

/************************************/
.content {
  margin: 60px 0px;
  flex: 1 1 auto;
  overflow: hidden;
}

.ml-block span {
  display: inline-block;
  margin: 0px 0px 25px 25px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  padding: 10px 15px;
  background: #E09F2B;
  border-radius: 10px;
}

.advesting {
  margin: 0px 10px;
}

.advesting-up {
  display: flex;
  justify-content: center;
  position: relative;
  min-width: 100%;
  margin-bottom: 25px;
}

.advesting-swiper {
  width: 50%;
  margin-right: 25px;
}

.swiper {
  height: 600px;
  max-width: 580px;
}

.swiper-slide {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.swiper-slide a {
  margin-top: 25px;
  font-family: "Montserrat";
  text-decoration: none;
  color: white;
  padding: 10px 15px;
  background-color: #4C91E0;
  border-radius: 0px 10px 10px 0px;
  font-size: 24px;
  line-height: 29px;
  opacity: 0.6;
  transition-duration: 0.5s;
}
.swiper-slide a :hover {
  transition-duration: 0.5s;
  opacity: 1;
}
.swiper-slide .ml-block span {
  margin-top: 25px;
}
.swiper-slide a:hover {
  opacity: 1;
}
.swiper-slide img {
  position: absolute;
  margin: 0px 0px 0px 0px;
  height: 400px;
  opacity: 0;
  transition-duration: 1.5s;
  top: 50px;
  left: 200px;
}

.swiper-slide-active a {
  -webkit-animation-name: wow-efect;
          animation-name: wow-efect;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}
.swiper-slide-active span {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
  -webkit-animation-name: biger;
          animation-name: biger;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}
.swiper-slide-active img {
  top: 170px;
  left: 230px;
  opacity: 1;
}

.swiper-slide2.swiper-slide-active img {
  top: 100px;
  left: 290px;
}

.swiper-slide1.swiper-slide-active img {
  left: 290px;
}

.swiper-slide1 {
  background-image: url(../img/window.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.swiper-slide1 img {
  margin-right: -50px;
  align-self: flex-end;
  height: 450px;
}

.swiper-slide2 {
  background-image: url(../img/toilet.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.swiper-slide2 img {
  margin-right: -20px;
  align-self: center;
}

.swiper-slide3 {
  background-image: url(../img/kitchen-3.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-size: cover;
  background-position: -500px 0px;
}
.swiper-slide3 img {
  align-self: flex-end;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  display: none;
}

.swiper-button-prev {
  margin-left: 20px;
}
.swiper-button-prev img {
  opacity: 0.6;
  transition-duration: 0.5s;
}
.swiper-button-prev :hover {
  opacity: 1;
}

.swiper-button-next {
  margin-right: 20px;
}
.swiper-button-next img {
  opacity: 0.6;
  transform: rotate(180deg);
  transition-duration: 0.5s;
}
.swiper-button-next :hover {
  opacity: 1;
}

.advesting-column {
  margin: 0px 0px 0px 0px;
  display: flex;
  width: 100%;
  flex-direction: column;
}

.advesting-column-top {
  display: flex;
  justify-content: space-between;
  height: 300px;
  background-image: url(../img/труби.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.advesting-column-top a {
  margin-top: 25px;
  font-family: "Montserrat";
  text-decoration: none;
  color: white;
  padding: 10px 15px;
  background-color: #4C91E0;
  border-radius: 0px 10px 10px 0px;
  font-size: 24px;
  line-height: 29px;
  opacity: 0.6;
  transition-duration: 0.5s;
}
.advesting-column-top a :hover {
  transition-duration: 0.5s;
  opacity: 1;
}
.advesting-column-top a:hover {
  opacity: 1;
}
.advesting-column-top img {
  height: 280px;
  width: 160px;
}

.column-more {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.advesting-colmun-down {
  display: flex;
  justify-content: space-between;
  height: 300px;
  background-image: url(../img/Soap-pad2.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.advesting-colmun-down a {
  margin-top: 25px;
  font-family: "Montserrat";
  text-decoration: none;
  color: white;
  padding: 10px 15px;
  background-color: #4C91E0;
  border-radius: 0px 10px 10px 0px;
  font-size: 24px;
  line-height: 29px;
  opacity: 0.6;
  transition-duration: 0.5s;
}
.advesting-colmun-down a:hover {
  opacity: 1;
}
.advesting-colmun-down img {
  margin-top: 20px;
  height: 250px;
  width: 220px;
  margin-right: 20px;
}

.advesting-down {
  height: 280px;
  display: flex;
  justify-content: space-between;
  background-image: url(../img/sale4.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.advesting-down a {
  margin-top: 25px;
  font-family: "Montserrat";
  text-decoration: none;
  color: white;
  padding: 10px 15px;
  background-color: #4C91E0;
  border-radius: 0px 10px 10px 0px;
  font-size: 24px;
  line-height: 29px;
  opacity: 0.6;
  transition-duration: 0.5s;
}
.advesting-down a :hover {
  transition-duration: 0.5s;
  opacity: 1;
}
.advesting-down a:hover {
  opacity: 1;
}
.advesting-down img {
  margin: 30px 40px 0px 0px;
  height: 250px;
  width: 300px;
}

.swiper-slide4 {
  display: none;
}

.swiper-slide5 {
  display: none;
}
.swiper-slide5 .advesting-colmun-down img {
  margin: 20px;
}

/************************************/
.products {
  margin-top: 35px;
}

.products-label {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
  color: #000000;
  margin-bottom: 25px;
}

.products-items {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 30px 25px;
}
.products-items img {
  height: 30px;
  display: block;
  position: absolute;
  left: 17px;
}

.search-box {
  font-size: 20px;
  padding: 5px 10px 5px 60px;
  height: 40px;
  width: 700px;
  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 10px;
}

.category-mobile-block {
  display: none;
}

#category {
  position: absolute;
}

.category {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 5px 15px;
  color: white;
}

.category-btn {
  text-align: left;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  background: #4C91E0;
  border-radius: 10px;
  color: white;
  padding: 15px 25px;
  width: 320px;
  position: relative;
}

.category-btn:before,
.category-btn:after {
  content: "";
  width: 15px;
  height: 1px;
  background-color: white;
  position: absolute;
  top: 29px;
}

.category-btn:before {
  transition-duration: 0.2s;
  transform: rotate(40deg);
  left: 285px;
}

.category-btn::after {
  transition-duration: 0.2s;
  transform: rotate(-40deg);
  left: 296px;
}

.category-btn._active:before {
  transform: rotate(-40deg);
}

.category-btn._active:after {
  transform: rotate(40deg);
}

.plin.hide {
  display: none;
}

.milo.hide {
  display: none;
}

.krot.hide {
  display: none;
}

.pergament.hide {
  display: none;
}

.toilet.hide {
  display: none;
}

.window-soap.hide {
  display: none;
}

.bilizna.hide {
  display: none;
}

.washing-powder.hide {
  display: none;
}

.category-list {
  text-align: left;
  background: #4C91E0;
  border-radius: 10px;
  width: 320px;
  position: absolute;
  margin-top: 20px;
  transition-duration: 1s;
  top: 45px;
}
.category-list li {
  cursor: pointer;
  padding: 15px 15px;
  text-align: left;
}

.category-list._hide {
  display: none;
}

.product-row {
  justify-content: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.product-card {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 420px;
  width: 325px;
  background-color: #ECFCE9;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 2px 10px rgb(109, 109, 109);
  margin: 25px;
}
.product-card img {
  max-width: 300px;
  max-height: 275px;
}

.card-label {
  padding: 15px 10px 0px;
  font-family: "Roboto";
  font-size: 24px;
}
.card-label a {
  text-decoration: none;
  color: #000;
}

.card-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 325px;
  padding: 0px 15px 15px 15px;
}
.card-items span {
  margin: 0px;
}
.card-items .fav-star {
  cursor: pointer;
}
.card-items .fav-star._active {
  cursor: pointer;
  background-size: contain;
  background-image: url(../img/icons/active-star.png);
  background-repeat: no-repeat;
}

/************************************/
.footer {
  font-size: 24px;
  padding: 25px;
  background-color: #63E64C;
}

.footer-row {
  display: flex;
  justify-content: space-between;
}

.footer-left-column {
  display: flex;
  align-items: center;
}
.footer-left-column img {
  max-height: 80px;
  margin-right: 50px;
}

.footer-contacts {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contacts-label {
  font-family: "Roboto";
  margin-bottom: 30px;
}

.contacts {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
}
.contacts p {
  margin-top: 5px;
}
.contacts a {
  font-weight: 400;
  text-decoration: none;
  color: #a37228;
}
.contacts a:hover {
  text-decoration: underline;
}

.footer-reight-column a {
  font-family: "Roboto";
  font-weight: 300;
  color: black;
}
.footer-reight-column a:hover {
  text-decoration: underline;
}

.footer-more-inf {
  font-family: "Roboto";
  margin-bottom: 30px;
}

/************************************/
@media (max-width: 1024px) {
  .container {
    max-width: 1000px;
  }

  .header-row a img {
    height: 50px;
    width: 50px;
  }

  .nav {
    margin: 0px 50px 0px 20px;
    font-size: 20px;
    line-height: 24px;
  }

  .tel img {
    height: 25px;
    width: 25px;
    margin-right: 7px;
  }
  .tel a {
    font-size: 20px;
  }

  .location img {
    height: 25px;
    width: 25px;
  }

  .street {
    font-size: 22px;
    line-height: 24px;
  }

  .nav-list li:first-child::before {
    top: 38px;
    width: 85px;
  }

  .fav-button::before {
    left: 85px;
  }

  .fav-button::after {
    left: 78px;
  }

  .languages {
    font-size: 22px;
    line-height: 24px;
  }

  .advesting-up {
    max-width: 1020px;
    overflow: hidden;
  }
}
@media (max-width: 480px) {
  body {
    background-color: #EFEFEF;
  }
}
@media (max-width: 480px) {
  .container {
    max-width: 400px;
    overflow: hidden;
  }

  .header-row {
    justify-content: space-between;
    position: relative;
    padding: 0px 5px;
  }
  .header-row img {
    height: 30px;
    width: 30px;
  }

  .header-nav {
    display: flex;
    align-items: center;
  }

  .nav {
    font-size: 11px;
    line-height: 13px;
    margin: 0px 10px;
  }

  .nav-list li {
    margin: 0px 5px;
  }
  .nav-list li:first-child::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 50px;
    background-color: #4C91E0;
    left: -7px;
    top: 55px;
    transition-duration: 0.5s;
  }
  .nav-list .start-btn-ru {
    width: 40px;
  }
  .nav-list li:first-child._active::before {
    left: 50px;
  }

  #category {
    position: relative;
  }

  .fav-button {
    display: none;
  }

  .mobile-favorite {
    align-self: center;
    height: 20px;
    width: 20px;
    background-image: url(../img/icons/star.svg);
    background-size: contain;
    background-repeat: no-repeat;
  }

  .mobile-favorite._active {
    background-image: url(../img/icons/active-star.png);
  }

  .header-contact {
    margin: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .header-contact a {
    font-size: 9px;
  }

  .mobile-header {
    display: none;
  }

  .mobile-header-active {
    max-width: 100%;
    position: -webkit-sticky;
    position: sticky;
    top: 58px;
    z-index: 3;
    background-color: #FFFFFF;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0px 15px;
  }

  .mobile-category {
    display: block;
  }

  .tel {
    display: flex;
    align-items: center;
    margin-right: 20px;
  }
  .tel img {
    display: block;
    height: 10px;
    width: 10px;
    margin-right: 10px;
  }

  .tel::before {
    content: "";
    display: none;
  }

  .location {
    margin-right: 10px;
    display: flex;
    align-items: center;
  }
  .location img {
    height: 10px;
    width: 10px;
  }

  .street {
    font-size: 9px;
  }

  .languages {
    font-size: 9px;
  }
  .languages span:first-child {
    margin-right: 10px;
  }
  .languages span:first-child::after {
    top: 2px;
    height: 23px;
    left: 20px;
  }

  /************************************/
  .content {
    margin: 15px 0px;
  }

  .swiper-slide2 {
    background-size: 100% 100%;
    background-image: url(../img/toilet-mob.jpg);
  }

  .swiper-slide4 {
    display: block;
    background-size: 100% 100%;
  }
  .swiper-slide4 img {
    height: 130px;
    width: 60px;
    margin: 0px;
  }

  .swiper-slide5 {
    display: block;
    background-position: 0px;
    background-size: 10% 20%;
  }
  .swiper-slide5 img {
    height: 100px;
    width: 60px;
    margin: 0px;
  }

  .advesting-down {
    display: none;
  }

  .swiper {
    height: 140px;
    width: 240px;
  }

  .column-more {
    margin-top: 25px;
  }

  .swiper-slide {
    display: flex;
    justify-content: space-between;
    background-position: 0px;
  }
  .swiper-slide a {
    margin: 0px 0px 0px 0px;
    opacity: 1;
    padding: 2px 5px;
    font-size: 14px;
    line-height: 16px;
  }
  .swiper-slide span {
    font-size: 14px;
    line-height: 16px;
    margin: 0px 0px 10px 5px;
    padding: 5px;
  }
  .swiper-slide img {
    height: 130px;
    margin: 0px;
    top: 0px;
    left: 0px;
  }

  .swiper-slide-active a {
    -webkit-animation-duration: 5s;
            animation-duration: 5s;
  }
  .swiper-slide-active span {
    -webkit-animation-name: none;
            animation-name: none;
  }
  .swiper-slide-active img {
    top: 5px;
    left: 130px;
    opacity: 1;
  }

  .swiper-slide2.swiper-slide-active img {
    top: 0px;
    left: 150px;
  }

  .swiper-slide1.swiper-slide-active img {
    height: 135px;
    left: 150px;
  }

  .swiper-slide4.swiper-slide-active img {
    left: 170px;
  }

  .swiper-button img {
    display: none;
  }

  .advesting-column {
    display: none;
  }

  .advesting-column-top {
    height: 140px;
    width: 240px;
  }
  .advesting-column-top a {
    margin: 0px;
    padding: 3px 5px;
    font-size: 14px;
    line-height: 16px;
  }
  .advesting-column-top span {
    font-size: 14px;
    line-height: 16px;
    margin: 0px 0px 10px 5px;
    padding: 5px;
  }
  .advesting-column-top img {
    height: 130px;
    width: 60px;
  }

  .advesting-colmun-down {
    height: 140px;
    width: 240px;
  }
  .advesting-colmun-down a {
    margin: 0px;
    padding: 3px;
    font-size: 14px;
    line-height: 16px;
  }
  .advesting-colmun-down span {
    font-size: 14px;
    line-height: 16px;
    margin: 0px 0px 10px 5px;
    padding: 5px;
  }
  .advesting-colmun-down img {
    height: 110px;
    width: 80px;
  }

  /************************************/
  .products {
    margin-top: 15px;
    background-color: #FFFFFF;
  }

  .products-label {
    position: relative;
    padding: 10px;
    font-size: 9px;
    line-height: 11px;
    margin-bottom: 0px;
  }

  .products-label::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: #BFBFBF;
    top: 40px;
    left: 0px;
  }

  .mob-hide {
    display: none;
  }

  .category-mobile {
    color: white;
    font-family: "Roboto";
    font-weight: 300;
    font-size: 9px;
    line-height: 11px;
  }

  .category-mobile-block {
    position: relative;
    display: block;
    background-color: white;
    padding: 10px 0px 10px 10px;
  }

  .mobile-header-active-label {
    font-family: "Roboto";
    font-size: 9px;
    line-height: 11px;
  }

  .mobile-header-active-label::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: #BFBFBF;
    top: 35px;
    left: 0px;
  }

  .category-list-mobile {
    font-size: 9px;
    text-align: left;
    border-radius: 10px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
  }
  .category-list-mobile li {
    background: #4C91E0;
    margin: 5px 5px;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 5px;
    text-align: left;
  }
  .category-list-mobile li._active {
    background-color: #E01FA9;
  }

  .products-items img {
    display: none;
  }

  .search-box {
    display: none;
  }

  .product-card {
    padding: 10px 0px 0px 0px;
    border-radius: 0px;
    position: relative;
    height: 175px;
    width: 100px;
    margin: 10px;
    box-shadow: none;
  }
  .product-card img {
    height: 100px;
    max-width: 90px;
  }

  .card-label {
    position: absolute;
    padding: 15px 5px 0px;
    font-size: 9px;
    top: 100px;
  }

  .card-items {
    padding: 7px;
    margin: 0px;
    width: 100px;
  }
  .card-items img {
    height: 15px;
  }
  .card-items span {
    font-size: 9px;
    line-height: 11px;
    padding: 3px 5px;
    margin: 0px;
  }

  /************************************/
  .footer {
    font-size: 9px;
    padding: 15px 10px;
  }

  .footer-row {
    justify-content: start;
  }

  .footer-contacts {
    width: 140px;
    margin-right: 20px;
  }

  .contacts-label {
    margin-bottom: 10px;
  }

  .footer-left-column img {
    margin-right: 10px;
    height: 30px;
  }

  .footer-more-inf {
    margin-bottom: 10px;
  }
}
@media (max-width: 375px) {
  .mobile-header-active {
    padding: 0px 10px;
  }
}
/************************************/
/************************************/